name: CI - Node App Build, Test & Push to ECR
on:
  push:
    branches:
      - main

env:
  ECR_REPOSITORY: node-app
  IMAGE_TAG: latest

#----------------------------------------------------
# 1. Matrix Build + LINT + TEST
#----------------------------------------------------
jobs:
  build-and-test:
    name: Build and Test on ${{ matrix.os }} with Node.js ${{ matrix['node-version'] }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        node-version: [18, 20]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix['node-version'] }}

      # Install dependencies
      - name: Install Dependencies
        run: npm ci

      # Lint the code
      - name: Run Linter
        run: npm run lint

      # Run tests
      - name: Run Tests
        run: npm test


#----------------------------------------------------
# 2. Multi-Stage Docker Build + Push
# Runs only after successful completion of build-and-test job
#----------------------------------------------------
  docker-build-and-push:
    name: Build and Push Docker Image to ECR
    needs: build-and-test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push Docker image to ECR
        run: |
          docker build -t $ECR_REPOSITORY:$IMAGE_TAG .

          docker tag $ECR_REPOSITORY:$IMAGE_TAG ${{ steps.login-ecr.outputs.registry }}/$ECR_REPOSITORY:$IMAGE_TAG

          docker push ${{ steps.login-ecr.outputs.registry }}/${ECR_REPOSITORY}:$IMAGE_TAG

      - name: Success Message
        run: echo "Docker image pushed to ECR successfully!"
          
